<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Mantis</h1>
            <hr>
            <p>Mantis is simplistic and modern Android application for managing a ticket system for software bugs or IT issues. Mantis allows for the creation of user-specific projects and you can sign in and have only your projects and tickets available. Mantis provides the information users need when they need it. Mantis is the brainchild of computer science students from the University of Manitoba and was designed with the agile methodology in mind. The project was built with the desire to remain open source and is under the MIT License. Mantis will never track user information and retains emails only for recovery processes. Privacy is a core value of the project authors.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
