<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meet the Team</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-5 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Akira Cooper</h3>
                    <p class="text-muted">Navi-Gator</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Alex Langley</h3>
                    <p class="text-muted">Bug Basher</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-5 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user-secret wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Andrew Marinic</h3>
                    <p class="text-muted">Manager Man</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Harry Pu</h3>
                    <p class="text-muted">Presentation Person</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-5 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-music wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>Rozen Noureev</h3>
                    <p class="text-muted">Database Dude</p>
                </div>
            </div>
        </div>
    </div>
</section>
