<section id="sources">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p style="font-size: x-small;">[1] Rosenfelder, Shani. “Uninstalls Remain a Significant Pain for Apps | AppsFlyer.” AppsFlyer, AppsFlyer, https://www.appsflyer.com/blog/trends-insights/app-uninstall-trends/. Accessed 21 Jan. 2023.</p>
                <p style="font-size: x-small;">[2] “App Marketing Metrics | Today’s 10 Most Important | [Blog].” SkaiTM, https://www.facebook.com/skaicommerce, https://skai.io/blog/10-app-marketing-metrics/?utm_source=google&utm_medium=cpc&utm_campaign=Skai_2022_DSA_Blog_EN&utm_id=go_cmp-17083303199_adg-135539932025_ad-613234155263_dsa-41848713900_dev-c_ext-_prd-_mca-_sig-Cj0KCQiAt66eBhCnARIsAKf3ZNEhY4mRMAjaNf2ND-ny_H2iW05mDhafdGRqeeVxLIHFJ0MgcDirSfcaAiFHEALw_wcB&kpid=go_cmp-17083303199_adg-135539932025_ad-613234155263_dsa-41848713900_dev-c_ext-_sig-Cj0KCQiAt66eBhCnARIsAKf3ZNEhY4mRMAjaNf2ND-ny_H2iW05mDhafdGRqeeVxLIHFJ0MgcDirSfcaAiFHEALw_wcB&gclid=Cj0KCQiAt66eBhCnARIsAKf3ZNEhY4mRMAjaNf2ND-ny_H2iW05mDhafdGRqeeVxLIHFJ0MgcDirSfcaAiFHEALw_wcB. Accessed 21 Jan. 2023.</p>
            </div>
        </div>

    </div>
</section>