<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Vision statement</h2>
                <hr class="light">
                <p class="text-faded">Mantis is a software error tracking program that enables users to allocate tasks, and resolve issues related to the development of software. At its core, Mantis streamlines the process by which users can address the fundamental problems underlying a software development project. When it comes to improving software, organization and distribution of resources are critical. Mantis seeks to simplify the problem-solving process involved in bug-tracking to improve the efficiency of those involved in software development, whether they are a developer or not.</p>
    
                <p class="text-faded">As with anything related to technology, the realm of software creation is ever-changing, requiring flexibility. In addition, deciding how to divide the workload can be stressful and time-consuming. There is also the need to keep track of accountability. Mantis is a comprehensive tool to ease all of these burdens. It acts as a non-software specific bridge to unify efforts from the technology and business sectors of a company so that software issues can be thoroughly understood, assigned with clear intent, and tackled head-on.</p>
                </br>
                <p class="text-faded">The primary user base includes software developers and project managers. The application will provide simplicity for those not technically inclined, while offering a layer of complexity for those who have more experience with software development.</p>
                </br>
                <p class="text-faded">Once a user has joined Mantis, they can assign themselves roles such as “Developer” or “Project Manager” which will grant them the appropriate permissions. Users can create individual and team projects, and then within a project they can create ‘tickets’ that represent specific software bugs. Tickets will allow users to describe and document bugs, assign them to team members, and establish deadlines. Tickets and projects will be searchable on a separate ‘board’ which can be filtered out using various criteria.</p>
                </br>
                <p class="text-faded">A scheduling system along with a personal calendar will be implemented to help users stay on track. Users can add tickets to their schedule and specify a date and time duration, and then these tickets will appear on their calendar. This will allow users to plan and organize their tasks for any given day, week, and month.</p>
                </br>
                <p class="text-faded">Since the presence of remote work options are increasing in popularity, it is important to maintain quality communication between team members and management, and so Mantis will include a built-in messaging system. This will allow users to remain in the application and increase productivity along with accountability.</p>
                </br>
                <p class="text-faded">The success criteria will be purely user-oriented as they can now be considered a new set of stakeholders in the agile design methodology. Approximately 28% of all applications are uninstalled after 30 days [1]. Given this statistic, our goal is to meet or exceed a 72% retention rate regarding users who have downloaded the application. Furthermore, we would like to obtain user retention of at least one interaction in the application every 12 hours [2]. As a final success metric, we aim for an active community of at least 2500 users after 18 months [2]. In conclusion, we chose these success criteria as we now consider our active users stakeholders with valuable user stories for future development.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
